<div class="dashboard-container">
  <app-header></app-header>
  <div class="left-section">
    <div class="left-section--wrapper">
      <h1>We make it Super Simple</h1>
      <img src="assets/images/collect_img-video.png" alt="" />
    </div>
  </div>
  <div class="right-section">
    <div class="card-container">
      <mat-card class="eligibility-card">
        <mat-card-title>Eligibility Calculator</mat-card-title>
        <mat-card-content>
          <mat-card-subtitle>Monthly Income</mat-card-subtitle>
          <h3>&#8377; {{ monthlyIncome }}</h3>
          <span class="text-small"> &#8377; 100000</span>
          <mat-slider
            [max]="max"
            [min]="min"
            step="500"
            value="150000"
            [(ngModel)]="monthlyIncome"
            (change)="onMonthlyIncomeChanges()"
          ></mat-slider>
          <span class="text-small"> &#8377; 300000</span>
        </mat-card-content>
        <mat-card-content>
          <mat-card-subtitle>Monthly Expense</mat-card-subtitle>
          <h3>&#8377; {{ monthlyExpense }}</h3>
          <mat-slider
            [max]="maxExp"
            [min]="minExp"
            step="500"
            value="150000"
            [(ngModel)]="monthlyExpense"
            (change)="onSliderChange($event)"
          ></mat-slider>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="w-100">
            <mat-label>Repayment Tenure</mat-label>
            <mat-select
              [(ngModel)]="selectedValue"
              name="repayTensure"
              (selectionChange)="onChanges()"
            >
              <mat-option
                *ngFor="let tensure of repayTensure"
                [value]="tensure.value"
              >
                {{ tensure.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-content class="loan-exit">
          <span>Do you have existing loan</span>
          <mat-slide-toggle></mat-slide-toggle>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="w-100">
            <mat-label>EMI of existing loan (optional)</mat-label>
            <input matInput value="" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="display-card">
        <mat-card-content>
          <h4>Loan Amount</h4>
          <div class="loan-amt">
            &#8377; {{ grantToBeAmt | number: "1.2-2" }}
          </div>
          <h4>Your EMI will be</h4>
          <div class="loan-amt">&#8377; {{ loanAmt | number: "1.2-2" }}</div>
        </mat-card-content>
        <mat-card-content>
          <a href="#" class="get-money">GET MONEY</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="wave-section"></div>
<div class="svg">
  <div class="box">
    <div class="card">
      <div class="img-container">
        <img src="assets/images/Get_Paid_Instantly.png" alt="" />
      </div>
      <h1>Quick cash disbursement</h1>
      <p>Get terms loans that your business needs within 72 hrs</p>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="assets/images/Low-interest-rate.png" alt="" />
      </div>
      <h1>Low-interest rate</h1>
      <p>
        Achieve your financial goals with an amazing interest rate starting at
        13% per annum
      </p>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="assets/images/Secure-Payments.png" alt="" />
      </div>
      <h1>Zero Paperwork</h1>
      <p>
        Get started instantly by submitting only your basic details & bank
        statements
      </p>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="assets/images/freelancer_feature_icon_6@1.5x.png" alt="" />
      </div>
      <h1>Ace your business finances</h1>
      <p>Manage banking, accounting & everything in between, on one platform</p>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="assets/images/Covid.png" alt="" />
      </div>
      <h1>Loans to fight COVID-19</h1>
      <p>
        Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
      </p>
    </div>
  </div>
  <div class="open-account-container">
    <h1>
      Boost your business <br />
      with Open
    </h1>
    <p>Get your hands on a term loan that’s crafted for your business</p>
    <a href="#" class="open-acc-btn">Get an Open Account</a>
  </div>
</div>
